body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search_select_box {
  max-width: 200px;
  margin: 7px auto;
}

.search_select_box select {
  width: 100px
}


/* make the 'negative space' black */
html {
  background-color: black;
}

.whiteColor {
  background-color: white;
  color: white;
}

.poster {
  display: inline;
}

.infoGrid {
  display: inline;
}